@media (max-width: 768px) and (orientation: portrait){
    .footer{         
        padding: 5px;
    }   
}

@media (min-width: 1024px) and (orientation: landscape){
    .footer{         
        padding: .5rem;
    }   
}