@media (min-width: 380px){
    .cardBox{
        max-height: calc(100vh - 14rem)!important;
    }
}

@media (min-width: 840px) and (orientation: landscape){
    .cardBox{
         max-height: calc(100vh - 10rem)!important;
    }
}

@media (min-width: 712px) and (orientation: portrait){
    .cardBox{
        max-height: calc(100vh - 18rem)!important;
    }
}

@media (min-width: 1440px){
    .cardBox{
        max-height: calc(100vh - 27rem);

    }
}

@media (min-width: 1442px){
    .cardBox{
        max-height: calc(100vh - 18rem);

    }
}